.PageNotFound{
    margin: auto;
    text-align: center;
    padding: 10vmax;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PageNotFound > svg{
    font-size: 7vmax;
    color: tomato;
}
.PageNotFound > p{
    font-size: 2vmax;
}
.PageNotFound > a{
    background-color: rgb(51,51,51);
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font:400 1vmax "Roboto";
    margin: 2vmax;
    text-decoration: none;
}

@media screen and (max-width:600px) {
     .PageNotFound > a{
        font:400 2vmax "Roboto";
        padding: 1vmax 6vmax;
        margin: 2vmax;
     }
     .PageNotFound > p{
        font-size: 3vmax;
        margin: 2vmax;
     }
}