.LoginSignupContainer {
    width:100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgba(231, 231, 231, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
}
.LoginSignupBox {
    width:25vw;
    height: 70vh;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}
.login_signup_toggle {
    display: flex;
    height: 3vmax;
}
.login_signup_toggle > p {
    color:rgba(0,0,0,0.678);
    font:300 1vmax "Roboto";
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
}
.login_signup_toggle > p:hover{
    color:tomato;
}
.LoginSignupBox > div > button {
    height: 3px;
    width: 50%;
    border:none;
    background-color: tomato;
    transition: all 0.5s;
}
.loginForm, .signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    padding: 2vmax;
    margin: auto;
    transition: all 0.5s;
}
.loginForm > div > .vicon,
.signupForm > div > .vicon
{
    position: absolute;
    transform: translateX(18vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.613);
}

.signupForm {
    transform: translateY(-100%) translateX(-100vmax);
}

#registerImage > img {
    width: 4vmax;
    border-radius: 100%;
}
#registerImage > input {
    display: flex;
    padding: 0%;
}
#registerImage > input::-webkit-file-upload-button{
    cursor: pointer;
    width: 100%;
    height: 5vh;
    z-index: 2;
    border: none;
    margin:0%;
    font:400 0.8vmax "Roboto";
    transition: all 0.5s;
    padding: 0 1vmax;
    color:rgba(0,0,0,0.623);
    background-color: rgb(255,255,255);
}
#registerImage > input::-webkit-file-upload-button:hover{
    background-color: rgb(235,235,235);
}

.loginForm > div,
.signupForm > div{
    display: flex;
    align-items: center;
    width: 100%;
}
.loginForm > div > input,
.signupForm > div > input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font:300 0.9vmax "Roboto";
    outline: none;
}
.loginForm > div > svg,
.signupForm > div > svg:not(.vicon){
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.613);
}
.loginForm > a {
    color:rgba(0,0,0,0.651);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font:400 1.1vmax "Gill Sans";
}
.loginForm > a:hover {
    color:black;
}
.loginBtn, 
.signupBtn {
    color:white;
    background-color: tomato;
    border:none;
    font:300 0.9vmax "Roboto";
    width:100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);
}
.loginBtn:hover, 
.signupBtn:hover {
    background-color: rgb(179,66,46);
}
.shiftToLeft {
    transform: translateX(-100%);
}
.shiftToNeutral {
    transform: translateX(0%);
}
.shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
}
.shiftToRight {
    transform: translateX(100%);
}

@media screen and (max-width:600px){
    .LoginSignupContainer{
        background-color: white;
    }
    .LoginSignupBox{
        width: 100vw;
        height: 95vh;
    }
    .login_signup_toggle{
        height: 5vmax;
    }
    .login_signup_toggle > p{
        font:300 1.5vmax "Roboto";
    }
    .loginForm,
    .signupForm{
        padding: 5vmax;
    }
    .loginForm > div > input,
    .signupForm > div > input{
        padding: 2.5vmax 5vmax;
        font:300 1.7vmax "Roboto";
    }
    .loginForm > div > svg,
    .signupForm > div > svg{
        font-size: 2.8vmax;
    }
    .loginForm > a{
        font:500 1.9vmax "Gill Sans";
    }
    #registerImage > img{
        width:8vmax;
        border-radius: 100%;
    }
    #registerImage > input::-webkit-file-upload-button {
       font:300 1.7vmax "Roboto";
    }
    .loginBtn,
    .signupBtn{
        font:300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
    .loginForm > div > .vicon{
        position: absolute;
        transform: translateX(25vmax);
        font-size: 1.6vmax;
        color:rgba(0,0,0,0.613);
    }
}
@media (min-width:601px) and (max-width:1111px){
    .LoginSignupBox{
        width: 40vw;
    }
    .login_signup_toggle{
        height: 5vmax;
    }
    .login_signup_toggle > p{
        font:300 1.5vmax "Roboto";
    }
    .loginForm > div > input,
    .signupForm > div > input{
        font:300 1.7vmax "Roboto";
    }
    .loginBtn,.signupBtn{
        padding: 1.5vmax;
        font:300 1.6vmax "Roboto";
    }
    #registerImage > input::-webkit-file-upload-button {
        font:300 1.5vmax "Roboto";
     }
     .loginForm > div > .vicon{
        position: absolute;
        transform: translateX(18vmax);
        font-size: 1.6vmax;
        color:rgba(0,0,0,0.613);
    }
}

