.resetPasswordContainer {
    width:100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgba(231, 231, 231, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
}
.resetPasswordBox {
    width:25vw;
    height: 70vh;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}

.resetPasswordHeading {
    color:rgba(0,0,0,0.664);
    text-align: center;
    font:400 1.3vmax "Roboto";
    padding:1.3vmax;
    border-bottom:1px solid rgba(0,0,0,0.205);
    margin: auto;
    width:50%;
}

.resetPasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    padding: 2vmax;
    margin: auto;
    transition: all 0.5s;
}

.resetPasswordForm > div{
    display: flex;
    align-items: center;
    width: 100%;
}

.resetPasswordForm > div > input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font:300 0.9vmax cursive;
    outline: none;
}

.resetPasswordForm > div > .mysvg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.613);
}

.resetPasswordForm > div > .vicon{
    position: absolute;
    transform: translateX(18vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.613);
}



.resetPasswordBtn {
    color:white;
    background-color: tomato;
    border:none;
    font:300 0.9vmax "Roboto";
    width:100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);
}

.resetPasswordBtn:hover {
    background-color: rgb(179,66,46);
}


@media screen and (max-width:600px){
    .resetPasswordContainer{
        background-color: white;
    }
    .resetPasswordBox{
        width: 100vw;
        height: 95vh;
    }
    
    .resetPasswordForm{
        padding: 5vmax;
    }
    
    .resetPasswordForm > div > input{
        padding: 2.5vmax 5vmax;
        font:300 1.7vmax cursive;
    }
    .resetPasswordForm > div > .vicon{
        position: absolute;
        transform: translateX(25vmax);
        font-size: 1.6vmax;
        color:rgba(0,0,0,0.613);
    }
    
    .resetPasswordBtn{
        font:300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
}
@media (min-width:601px) and (max-width:1111px){
    .resetPasswordBox{
        width: 40vw;
    }
    
    .resetPasswordForm > div > input{
        font:300 1.7vmax cursive;
    }
    .resetPasswordBtn{
        padding: 1.5vmax;
        font:300 1.6vmax "Roboto";
    }
    .resetPasswordForm > div > .vicon{
        position: absolute;
        transform: translateX(21vmax);
        font-size: 1.6vmax;
        color:rgba(0,0,0,0.613);
    }
    
}

