.newProductContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.newProductContainer h1 {
    color: rgb(0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
}

.newProductForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 3vmax;
    justify-content: space-evenly;
    height: 85%;
    width: 60vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.newProductForm>div {
    display: flex;
    width: 100%;
    align-items: center;
}

.newProductForm>div>input,
.newProductForm>div>select,
.newProductForm>div>textarea {
    padding: 1vmax 4vmax;
    box-sizing: border-box;
    padding-right: 1vmax;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    outline: none;
    font: 300 0.9vmax cursive;
    overflow: hidden;
}

.newProductForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.633);
}

#newProductFormFile>input {
    display: flex;
    padding: 0%;
}

#newProductFormFile>input::-webkit-file-upload-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgb(0, 0, 0.623);
    background-color: rgb(255, 255, 255);

}

#newProductFormFile>input::-webkit-file-upload-button:hover {
    background-color: rgb(235, 235, 235);
}

#newProductFormImage {
    width: 100%;
    margin: 1vmax 0;
    overflow: auto;
    padding-bottom: 10px;
}



#newProductFormImage>img {
    width: 3vmax;
    height: 2vmax;
    margin: 0 0.5vmax;
}

#newProductBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

#newProductBtn:hover {
    background-color: rgb(179, 66, 46);
}

@media screen and (max-width:600px) {
    .newProductContainer {
        background-color: rgb(255, 255, 255);
    }

    .newProductForm {
        padding: 5vmax;
    }

    .newProductForm>div>input,
    .newProductForm>div>select,
    .newProductForm>div>textarea {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }
    .newProductForm > div > svg {
        font-size: 2.8vmax;
    }
    #newProductFormImage>img {
        width: 8vmax;
    border-radius: 100%;
    }
    #newProductFormFile>input::-webkit-file-upload-button{
        height: 7vh;
        font: 400 1.8vmax cursive;
    }
    #newProductBtn{
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
}